meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")

if current.meta.description
  meta(name="description" content=current.meta.description)

meta(name="author" content="John Doe")

title=current.meta.title
